%h2 Spreads

%p * All spread operations apply to an album
  
%h3 List spreads

%h4 GET /album/\#{album.permalink}/spreads.xml

%h5 Response

%pre
  %code
    :preserve
      &lt;spreads type=&quot;array&quot;&gt;
        &lt;spread&gt;
          &lt;album-id type=&quot;integer&quot;&gt;6562&lt;/album-id&gt;
          &lt;id type=&quot;integer&quot;&gt;583547&lt;/id&gt;
          &lt;image-content-type&gt;image/jpeg&lt;/image-content-type&gt;
          &lt;image-file-name&gt;page_01.jpg&lt;/image-file-name&gt;
          &lt;image-file-size type=&quot;integer&quot;&gt;80841&lt;/image-file-size&gt;

          &lt;image-processing type=&quot;boolean&quot;&gt;false&lt;/image-processing&gt;
          &lt;image-updated-at type=&quot;datetime&quot;&gt;2010-10-26T16:38:19-07:00&lt;/image-updated-at&gt;
          &lt;position type=&quot;integer&quot;&gt;1&lt;/position&gt;
        &lt;/spread&gt;
      &lt;/spreads&gt;
      
      
%h3 Create spread

%h4 POST /album/\#{album.permalink}/spreads.xml

%h5 Request

%p Temporarily we recommend that you submit a spread create request as a POST of name-value pairs:

%pre
  %code
    spread[image] = \#{Filedata}

%h5 Response

%pre
  %code Status: 201 Created
  
%h3 Destroy spread

%h4 DELETE /album/\#{album.permalink}/spreads/\#{spread.id}.xml

%h5 Request

%h5 Response

%pre
  %code Status: 200 OK