!!!
%html
  %head
    %title StaticMatic
    = stylesheets
  %body
    #header
      = link img("http://albumexposure.com/images/header.gif"), '/'

    .content
      #sidebar
        .side_box
          %h2 Sections
          %ul
            %li= link "Introduction", "/"
            %li= link "Account"
            %li= link "Albums"
            %li= link "Spreads"
            %li= link "Songs"
        
        .side_box
          Need help, have a question or found a bug? Email us at
          = obfuscated_mail_to "support@albumexposure.com"
      #body
        %h1 AlbumExposure API
        = yield
      .clear