%h2 Albums

%h3 List all

%h4 GET /albums.json OR /albums.xml

%p Lists the albums in your account

.tabs
  %ul
    %li= link_to "JSON response", "#index-json"
    %li= link_to "XML response", "#index-xml"
  #index-json
    %pre
      %code
        :preserve
          [
            {
              id: 123,
              sent_view_reminder_at: null,
              client_email: &quot;client@example.com&quot;,
              starts_on: &quot;left&quot;,
              email: &quot;&quot;,
              notify_client_of_comments: false,
              viewed_at: &quot;2011/12/06 20:11:13 +0000&quot;,
              first_viewed_at: &quot;2012/03/13 18:47:34 +0000&quot;,
              default: &quot;book&quot;,
              width: 1000,
              permalink: &quot;client-album&quot;,
              allow_client_notifications: true,
              name: &quot;Client Album&quot;,
              embed: true,
              sent_approve_reminder_at: null,
              snapknot: false,
              password: &quot;another&quot;,
              height: 393,
              archived: false,
              approved_at: &quot;2010/07/13 17:40:44 +0100&quot;,
              sent_link_at: null,
              print_status: null,
              created_on: &quot;2010/02/12&quot;,
              song_id: null,
              shadow: false,
              language: &quot;de_DE&quot;
            }
            ...
          ]
  #index-xml
    %pre
      %code
        :preserve
          &lt;albums type=&quot;array&quot;&gt;
            &lt;album&gt;
              &lt;id&gt;123&lt;/id&gt;
              &lt;allow-client-notifications type=&quot;boolean&quot;&gt;true&lt;/allow-client-notifications&gt;
              &lt;approved-at type=&quot;datetime&quot;&gt;2010-07-13T17:40:44+01:00&lt;/approved-at&gt;
              &lt;archived type=&quot;boolean&quot;&gt;false&lt;/archived&gt;
              &lt;client-email&gt;client@example.com&lt;/client-email&gt;
              &lt;created-on type=&quot;date&quot;&gt;2010-02-12&lt;/created-on&gt;
              &lt;default&gt;book&lt;/default&gt;
              &lt;email/&gt;
              &lt;embed type=&quot;boolean&quot;&gt;true&lt;/embed&gt;
              &lt;first-viewed-at type=&quot;datetime&quot;&gt;2012-03-13T18:47:34+00:00&lt;/first-viewed-at&gt;
              &lt;height type=&quot;integer&quot;&gt;393&lt;/height&gt;
              &lt;language&gt;de_DE&lt;/language&gt;
              &lt;name&gt;Client Album&lt;/name&gt;
              &lt;notify-client-of-comments type=&quot;boolean&quot;&gt;false&lt;/notify-client-of-comments&gt;
              &lt;password&gt;another&lt;/password&gt;
              &lt;permalink&gt;client-album&lt;/permalink&gt;
              &lt;print-status nil=&quot;true&quot;/&gt;
              &lt;sent-approve-reminder-at type=&quot;datetime&quot; nil=&quot;true&quot;/&gt;
              &lt;sent-link-at type=&quot;datetime&quot; nil=&quot;true&quot;/&gt;
              &lt;sent-view-reminder-at type=&quot;datetime&quot; nil=&quot;true&quot;/&gt;
              &lt;shadow type=&quot;boolean&quot;&gt;false&lt;/shadow&gt;
              &lt;snapknot type=&quot;boolean&quot;&gt;false&lt;/snapknot&gt;
              &lt;song-id type=&quot;integer&quot; nil=&quot;true&quot;/&gt;
              &lt;starts-on&gt;left&lt;/starts-on&gt;
              &lt;viewed-at type=&quot;datetime&quot;&gt;2011-12-06T20:11:13+00:00&lt;/viewed-at&gt;
              &lt;width type=&quot;integer&quot;&gt;1000&lt;/width&gt;
            &lt;/album&gt;
            ...
          &lt;/albums&gt;
      
%h3 Create Album

%h4 POST /album.json OR /album.xml
  
.tabs
  %ul
    %li= link_to "JSON request", "#create-json"
    %li= link_to "XML request",  "#create-xml"

  #create-json
    %pre
      %code
        :preserve
          {
            name: &quot;Client Album&quot;,
            password: &quot;mypassword&quot;,
            default: &quot;slideshow&quot;,
            shadow: &quot;false&quot;,
            song-id: &quot;176&quot;,
          }
  #create-xml
    %pre
      %code
        :preserve
          &lt;album&gt;
            &lt;name&gt;new&lt;/name&gt;
            &lt;password&gt;new&lt;/password&gt;
            &lt;default&gt;book&lt;/default&gt;
            &lt;shadow type=&quot;boolean&quot;&gt;true&lt;/shadow&gt;
            &lt;song-id type=&quot;integer&quot;&gt;176&lt;/song-id&gt;
          &lt;/album&gt;

      
%h5 Response
%pre
  %code
    Status: 201 Created

%br

%h3 Update Album

%h4 PUT /albums/#{id}.json OR /albums/#{id}.xml

.tabs
  %ul
    %li= link_to "JSON request", "#update-json"
    %li= link_to "XML request", "#update-xml"

  #update-json
    %pre
      %code
        :preserve
          {
            name: &quot;Client Album&quot;,
            password: &quot;mypassword&quot;,
            default: &quot;slideshow&quot;,
            shadow: &quot;false&quot;,
            song-id: &quot;176&quot;,
          }

  #update-xml
    %pre
      %code
        :preserve
          &lt;album&gt;
            &lt;name&gt;new&lt;/name&gt;
            &lt;password&gt;new&lt;/password&gt;
            &lt;default&gt;book&lt;/default&gt;
            &lt;shadow type=&quot;boolean&quot;&gt;true&lt;/shadow&gt;
            &lt;song-id type=&quot;integer&quot;&gt;176&lt;/song-id&gt;
          &lt;/album&gt;


%h5 Response
%pre
  %code
    Status: 200 OK

