%h2 Albums

%h3 List all

%h4 GET /albums.json OR /albums.xml

%p Lists the albums in your account

.tabs
  %ul
    %li= link_to "JSON response", "#index-json"
    %li= link_to "XML response", "#index-xml"
  #index-json
    %pre
      %code
        :preserve
          [
            {
              id: "1",
              sent_view_reminder_at: null,
              client_email: "client@example.com",
              starts_on: "left",
              email: "",
              notify_client_of_comments: false,
              viewed_at: "2011/12/06 20:11:13 +0000",
              first_viewed_at: "2012/03/13 18:47:34 +0000",
              default: "book",
              width: 1000,
              permalink: "client-album",
              allow_client_notifications: true,
              name: "Client Album",
              embed: true,
              sent_approve_reminder_at: null,
              snapknot: false,
              password: "another",
              height: 393,
              archived: false,
              approved_at: "2010/07/13 17:40:44 +0100",
              sent_link_at: null,
              print_status: null,
              created_on: "2010/02/12",
              song_id: null,
              shadow: false,
              language: "de_DE"
            }
            ...
          ]
  #index-xml
    %pre
      %code
        = preserve do
          :escaped
            <albums type="array">
              <album>
                <id>1</id>
                <allow-client-notifications type="boolean">true</allow-client-notifications>
                <approved-at type="datetime">2010-07-13T17:40:44+01:00</approved-at>
                <archived type="boolean">false</archived>
                <client-email>client@example.com</client-email>
                <created-on type="date">2010-02-12</created-on>
                <default>book</default>
                <email/>
                <embed type="boolean">true</embed>
                <first-viewed-at type="datetime">2012-03-13T18:47:34+00:00</first-viewed-at>
                <height type="integer">393</height>
                <language>de_DE</language>
                <name>Client Album</name>
                <notify-client-of-comments type="boolean">false</notify-client-of-comments>
                <password>another</password>
                <permalink>client-album</permalink>
                <print-status nil="true"/>
                <sent-approve-reminder-at type="datetime" nil="true"/>
                <sent-link-at type="datetime" nil="true"/>
                <sent-view-reminder-at type="datetime" nil="true"/>
                <shadow type="boolean">false</shadow>
                <snapknot type="boolean">false</snapknot>
                <song-id type="integer" nil="true"/>
                <starts-on>left</starts-on>
                <viewed-at type="datetime">2011-12-06T20:11:13+00:00</viewed-at>
                <width type="integer">1000</width>
              </album>
              ...
            </albums>

%h3 Create Album

%h4 POST /albums.json OR /albums.xml

.tabs
  %ul
    %li= link_to "JSON request", "#create-json"
    %li= link_to "XML request",  "#create-xml"

  #create-json
    %pre
      %code
        :preserve
          {
            "name": "Client Album",
            "password": "mypassword",
            "default": "slideshow",
            "shadow": "false",
            "song-id": "176",
          }
  #create-xml
    %pre
      %code
        = preserve do
          :escaped
            <album>
              <name>new</name>
              <password>new</password>
              <default>book</default>
              <shadow type="boolean">true</shadow>
              <song-id type="integer">176</song-id>
            </album>


%h5 Response
%pre
  %code
    Status: 201 Created

%br

%h3 Update Album

%h4 PUT /albums/1.json OR /albums/1.xml

.tabs
  %ul
    %li= link_to "JSON request", "#update-json"
    %li= link_to "XML request", "#update-xml"

  #update-json
    %pre
      %code
        :preserve
          {
            name: "Client Album",
            password: "mypassword",
            default: "slideshow",
            shadow: "false",
            song-id: "176",
          }

  #update-xml
    %pre
      %code
        = preserve do
          :escaped
            <album>
              <name>new</name>
              <password>new</password>
              <default>book</default>
              <shadow type="boolean">true</shadow>
              <song-id type="integer">176</song-id>
            </album>


%h5 Response
%pre
  %code
    Status: 200 OK
