%h2 Comments

%p * All comment operations apply to an album

%p Deprecated: The comments requested as XML currently returns a deprecated representation of the comments which is a string representation of each spread separated by "-----"

%h4 GET /albums/1/comments.json OR /albums/1/comments.xml

%h5 Response

.tabs
  %ul
    %li= link_to "JSON response", "#comments-json"
    %li= link_to "JSON Legacy response", "#comments-legacy-json"
    %li= link_to "Future XML response", "#comments-xml"
    %li= link_to "Deprecated XML response", "#comments-dxml"

  #comments-json
    %pre
      %code
        :preserve
          [
            {
              "album_id": "1",
              "created_at": "2011-03-03 17:11:36 -0800",
              "comments":
              {
                "741798": [
                  {
                    "text": "first!"
                  }
                ],
                "741800": [
                  {
                    "text": "second!",
                    "position": [
                      0.3918918918918919,
                      0.4201474201474201
                    ]
                  },
                  {
                    "text": "third"
                  }
                ],
                "741797": [
                  {
                    "text": "fourth",
                    "position": [
                      0.18427518427518427,
                      0.3316953316953317
                    ]
                  }
                ]
              }
            }
            ...
          ]

  #comments-legacy-json
    %pre
      %code
        :preserve
          [
            {
              "album_id": "1",
              "created_at": "2011-03-03 17:11:36 -0800",
              "comments":
              {
                "741798":"first!",
                741800":"second!",
                "741797":"third!"
              }
            }
            ...
          ]

  #comments-xml
    %pre
      %code
        = preserve do
          :escaped
            <comments type="array">
              <comment>
                <album-id type="integer">6562</album-id>
                <created-at type="datetime">2011-03-03 17:11:36 -0800</created-at>
                <id type="integer">41508</id>
                <spread_comments>
                  <spread_comment spread_id="1">first!</comment>
                  <spread_comment spread_id="2">second!</comment>
                </spread_comments>
              </comment>
              <comment>
              ...
              </comment>
            </comments>

  #comments-dxml
    %pre
      %code
        = preserve do
          :escaped
            <comments type="array">
              <comment>
                <album-id type="integer">6562</album-id>
                <created-at type="datetime">2011-03-03 17:11:36 -0800</created-at>
                <id type="integer">41508</id>
                <text>Spread 1:
                first!

                ----
                Spread 2:
                second!

                ----
                ...
                </text>
              </comment>
              <comment>
              ...
              </comment>
            </comments>
