%h2 Spreads

%p * All spread operations apply to an album
  
%h3 List spreads

%h4 GET /album/\#{album.permalink}/spreads.json OR /album/\#{album.permalink}/spreads.xml

%h5 Response

.tabs
  %ul
    %li= link_to "JSON response", "#index-json"
    %li= link_to "Future XML Response", "#index-xml"
    %li= link_to "Current Depricated XML response", "#index-dxml"

  #index-json
    %pre
      %code
        :preserve
          [
            {
              id: "123"
              image_updated_at: &quot;2012/03/13 18:22:24 +0000&quot;,
              image_urls: {
                left: &quot;http://assets.albumexposure.com/spreads/1/left/page_01.jpg?1331662944&quot;,
                right: &quot;http://assets.albumexposure.com/spreads/1/right/page_01.jpg?1331662944&quot;,
                web: &quot;http://assets.albumexposure.com/spreads/1/web/page_01.jpg?1331662944&quot;,
                thumb: &quot;http://assets.albumexposure.com/spreads/1/thumb/page_01.jpg?1331662944&quot;
              },
              image_file_name: &quot;page_01.jpg&quot;,
              position: 1,
              image_file_size: 80841,
              image_processing: false
            }
          ]
  #index-xml
    %pre
      %code
        :preserve
          &lt;spreads type=&quot;array&quot;&gt;
            &lt;spread&gt;
              &lt;id type=&quot;integer&quot;&gt;123&lt;/id&gt;
              &lt;image-file-name&gt;page_01.jpg&lt;/image-file-name&gt;
              &lt;image-file-size type=&quot;integer&quot;&gt;80841&lt;/image-file-size&gt;
              &lt;image-processing type=&quot;boolean&quot;&gt;false&lt;/image-processing&gt;
              &lt;image-updated-at type=&quot;datetime&quot;&gt;2012-03-13T18:22:24+00:00&lt;/image-updated-at&gt;
              &lt;position type=&quot;integer&quot;&gt;1&lt;/position&gt;
              &lt;image-urls&gt;
                &lt;left&gt;http://assets.albumexposure.com/spreads/1/left/page_01.jpg?1331662944&lt;/left&gt;
                &lt;right&gt;http://assets.albumexposure.com/spreads/1/right/page_01.jpg?1331662944&lt;/right&gt;
                &lt;web&gt;http://assets.albumexposure.com/spreads/1/web/page_01.jpg?1331662944&lt;/web&gt;
                &lt;thumb&gt;http://assets.albumexposure.com/spreads/1/thumb/page_01.jpg?1331662944&lt;/thumb&gt;
              &lt;/image-urls&gt;
            &lt;/spread&gt;
          &lt;/spreads&gt;
  #index-dxml
    %pre
      %code
        :preserve
          &lt;spreads type=&quot;array&quot;&gt;
            &lt;spread&gt;
              &lt;album-id type=&quot;integer&quot;&gt;456&lt;/album-id&gt;
              &lt;id type=&quot;integer&quot;&gt;123&lt;/id&gt;
              &lt;image-content-type&gt;image/jpeg&lt;/image-content-type&gt;
              &lt;image-file-name&gt;page_01.jpg&lt;/image-file-name&gt;
              &lt;image-file-size type=&quot;integer&quot;&gt;80841&lt;/image-file-size&gt;
              &lt;image-processing type=&quot;boolean&quot;&gt;false&lt;/image-processing&gt;
              &lt;image-updated-at type=&quot;datetime&quot;&gt;2010-10-26T16:38:19-07:00&lt;/image-updated-at&gt;
              &lt;position type=&quot;integer&quot;&gt;1&lt;/position&gt;
            &lt;/spread&gt;
          &lt;/spreads&gt;


      
      
%h3 Create spread

%h4 POST /album/\#{album.permalink}/spreads.json OR /album/\#{album.permalink}/spreads.xml

%h5 Request

%p Temporarily we recommend that you submit a spread create request as a POST of name-value pairs:

%pre
  %code
    spread[image] = \#{Filedata}

%br

%h5 Response

%pre
  %code Status: 201 Created

%br  

%h3 Destroy spread

%p 
  %b *** IMPORTANT: To replace an existing spread, rather than deleting, just create a spread with the same filename ***

%h4 
  DELETE /album/\#{album.permalink}/spreads/\#{spread.id}.json OR 
  %br 
  \/album/\#{album.permalink}/spreads/\#{spread.id}.xml

%h5 Response

%pre
  %code Status: 200 OK