%h2 Spreads

%p * All spread operations apply to an album

%h3 List all

%h4 GET /api/albums/1/spreads

%h5 Response

.tabs
  %ul
    %li= link_to "JSON response", "#index-json"

  #index-json
    %pre
      %code
        :preserve
          [
            {
              "id": "1"
              "position": 1,
              "image_file_name": "page_01.jpg",
              "image_file_size": 80841,
              "image_updated_at": "2012/03/13 18:22:24 +0000",
              "image_processing": false
              "image_urls": {
                "thumb": "https://d3ej44odz62oqc.cloudfront.net/spreads/1/thumb/L001.jpg?1351632940",
                "web": "https://d3ej44odz62oqc.cloudfront.net/spreads/1/web/L001.jpg?1351632940",
                "large": "https://d3ej44odz62oqc.cloudfront.net/spreads/1/large/L001.jpg?1351632940",
                "fullscreen": "https://d3ej44odz62oqc.cloudfront.net/spreads/1/fullscreen/L001.jpg?1351632940"
              }
            }
          ]

%h3 Fetch Spread

%h4 GET /api/albums/1/spreads/1

%h5 Response

%pre
  %code Status: 200 OK
%br

%h3 Create Spread

%h4 POST /api/albums/1/spreads

%h5 Request

%p We recommend you POST key/value pairs as form-data. (Similar to a URI query string.)

%pre
  %code
    = preserve do
      Key:   spread[image]
      Value: \#{Filedata}

%br

= link_to image_tag("create_spread.png", width: "650"), "/images/create_spread.png"

%br
%br

%h5 Response

%pre
  %code Status: 201 Created

%br

%h3 Update Spread

%h4 PUT /api/albums/1/spreads/1

%h5 Request

%p Update just the position of a spread by passing an integer between 1 and n, where n is the number of spreads in the list.

%pre
  %code
    = preserve do
      :escaped
        {
          "position": 1
        }

%br

%h5 Request
%p
  If updating the spread's image, then post key/value pairs as form-data, instead of JSON. (See Create Spread.) A
  %i spread[position]
  key can also be added to update the image and position in the same request.

%pre
  %code
    = preserve do
      :escaped
        Key:   spread[image]
        Value: \#{Filedata}
        Key:   spread[position]
        Value: 1

%br

%h5 Response

%pre
  %code Status: 200 OK
%br

%h3 Destroy Spread

%p
  %b *** IMPORTANT: To replace an existing spread, rather than deleting, just create a spread with the same filename, or replace it's image. ***

%h4
  DELETE /api/albums/1/spreads/1

%h5 Response

%pre
  %code Status: 200 OK
