%h2 Spreads

%p * All spread operations apply to an album

%h3 List spreads

%h4 GET /album/\#{album.permalink}/spreads.json OR /album/\#{album.permalink}/spreads.xml

%h5 Response

.tabs
  %ul
    %li= link_to "JSON response", "#index-json"
    %li= link_to "Future XML Response", "#index-xml"
    %li= link_to "Current Depricated XML response", "#index-dxml"

  #index-json
    %pre
      %code
        :preserve
          [
            {
              id: "123"
              image_updated_at: "2012/03/13 18:22:24 +0000",
              image_urls: {
                left: "http://assets.albumexposure.com/spreads/1/left/page_01.jpg?1331662944",
                right: "http://assets.albumexposure.com/spreads/1/right/page_01.jpg?1331662944",
                web: "http://assets.albumexposure.com/spreads/1/web/page_01.jpg?1331662944",
                thumb: "http://assets.albumexposure.com/spreads/1/thumb/page_01.jpg?1331662944"
              },
              image_file_name: "page_01.jpg",
              position: 1,
              image_file_size: 80841,
              image_processing: false
            }
          ]
  #index-xml
    %pre
      %code
        = preserve do
          :escaped
            <spreads type="array">
              <spread>
                <id type="integer">123</id>
                <image-file-name>page_01.jpg</image-file-name>
                <image-file-size type="integer">80841</image-file-size>
                <image-processing type="boolean">false</image-processing>
                <image-updated-at type="datetime">2012-03-13T18:22:24+00:00</image-updated-at>
                <position type="integer">1</position>
                <image-urls>
                  <left>http://assets.albumexposure.com/spreads/1/left/page_01.jpg?1331662944</left>
                  <right>http://assets.albumexposure.com/spreads/1/right/page_01.jpg?1331662944</right>
                  <web>http://assets.albumexposure.com/spreads/1/web/page_01.jpg?1331662944</web>
                  <thumb>http://assets.albumexposure.com/spreads/1/thumb/page_01.jpg?1331662944</thumb>
                </image-urls>
              </spread>
            </spreads>
  #index-dxml
    %pre
      %code
        = preserve do
          :escaped
            <spreads type="array">
              <spread>
                <album-id type="integer">456</album-id>
                <id type="integer">123</id>
                <image-content-type>image/jpeg</image-content-type>
                <image-file-name>page_01.jpg</image-file-name>
                <image-file-size type="integer">80841</image-file-size>
                <image-processing type="boolean">false</image-processing>
                <image-updated-at type="datetime">2010-10-26T16:38:19-07:00</image-updated-at>
                <position type="integer">1</position>
              </spread>
            </spreads>




%h3 Create spread

%h4 POST /album/\#{album.permalink}/spreads.json OR /album/\#{album.permalink}/spreads.xml

%h5 Request

%p Temporarily we recommend that you submit a spread create request as a POST of name-value pairs:

%pre
  %code
    spread[image] = \#{Filedata}

%br

%h5 Response

%pre
  %code Status: 201 Created

%br

%h3 Destroy spread

%p
  %b *** IMPORTANT: To replace an existing spread, rather than deleting, just create a spread with the same filename ***

%h4
  DELETE /album/\#{album.permalink}/spreads/\#{spread.id}.json OR
  %br
  \/album/\#{album.permalink}/spreads/\#{spread.id}.xml

%h5 Response

%pre
  %code Status: 200 OK
